// Header

header { 
    text-align: center;

    h2 {
        color: $text-dark;
    }

    nav a {
        color: $text-hue;
    }
}

// special header style for homepage
header.homepage {
  
    &:before{
        @include transition (all 0.5s ease-out);

        content: "";
        position: absolute;
        width: 250px;
        height: 375px;
        left: 0;
        z-index: -1;
        background-position: 0 -24px; 

        // Get my head out of the way!
    
        @include background-image(url("images/geordie.jpg"));
        background-repeat: no-repeat;

        @include hidpi(1.5) {
            @include background-image(url("images/geordie_2x.jpg"));
            background-size: 100% 100%;
        }
        
        @media screen and (max-width: 980px) {
            background-position: 0 em($baseline-px*2); 
        }

        @media screen and (max-width: 780px) {
            @include transform(rotate(90deg));
            background-position: em($baseline-px*-2) em($baseline-px*8.5);
        }
    }
}

// Dark/colored sections

.about, .blog-latest {
    @include text-on-dark-bg;
}

.about {
    background-color: $color-primary;
}

.blog-latest {
    background-color: $color-secondary;
}

.blog-latest {

    h1, h2, p, a, li {
        position: relative;
        z-index: 2;
    }

    .featured {
        @include underlay($color-secondary);
    }

    @media screen and (max-width: 960px) {
        .featured {
            max-height: none;
            width: 100%;

            img {
                max-height: none;
            }

            &:after {
                opacity: 0.85;
            }
        }
    }
}

// Light sections

.project {
    @include text-on-light-bg;
}

// Note text

.note {
    text-transform: uppercase;
    font-weight: 400;
    position: absolute;
    top: -12px;
    opacity: 0.66;
    font-size: em($baseline-px*0.25);

    @media screen and (max-width: $second-break) {
        font-size: em($baseline-px*0.4);
    }

}

// Styles for the blog

.featured-header {
    width: 100%;
    //height: 10em;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    &:after {
            content:'';
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            background: $color-secondary;
            opacity: 0.75;
        }

    h1, h2, p {
        position: relative;
        z-index: 5;
        @include text-on-dark-bg;
    }
}

.previous-posts {
    h1, h2 { color: $text-darkest }
}

.post-stub {
    h1 {
        color: $text-darkest;
    }

    h2 {
        color: $text-dark;
    }
}

.pagination a {
    color: $text-hue;
}
