body {
    font-weight: 200;
    font-size: em($baseline-px*1.5);
    font-family: $font-stack;
}

h1, h2 {
    @include transition(font-size 0.5s ease-out);
}

h1 {
    font-weight: 900;
    font-size: em($baseline-px*3);
    
    @media screen and (max-width: $first-break) {
        font-size: em($baseline-px*2);
    }

    @media screen and (max-width: $second-break) {
        font-size: em($baseline-px*1.5);
    }

    @media screen and (max-width: $third-break) {
        font-size: em($baseline-px*1.2);
        line-height: 1;
    }
}

h2 {
    font-weight: 400;
    font-size: em($baseline-px*2);
    
    @media screen and (max-width: $first-break) {
        font-size: em($baseline-px*1.5);
    }

    @media screen and (max-width: $second-break) {
        font-size: em($baseline-px*1);
    }

    @media screen and (max-width: $third-break) {
        font-size: em($baseline-px*0.75);
        line-height: 1;
    }

}


p, li {
    // set maximum measure to ensure ~60 chars/line
    max-width: 25em;

    line-height: em($baseline-px*1.4);

    // super light font looks terrible on high dpi screens; make heavier
    @include hidpi(1.5){
        font-weight: 400;
    }

    @media screen and (max-width: $second-break) {
        font-size: em($baseline-px*0.75);
    }

    @media screen and (max-width: $third-break) {
        font-size: em($baseline-px*0.6);
    }
}

li {
    list-style: none;
}

.post ul li {
    list-style: disc outside none;
}

.post ol li {
    list-style: decimal outside none;
}

.post 

a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    padding-bottom: 1px;
    
    @include hidpi(1.5) {

        // Since <a> font weight in high-dpi screens matches surrounding text,
        // need to have some other way of delineating links
        section & {
            border-bottom: 1px solid;
        }
    }
}

a:hover {
    border-bottom: 2px solid;
    // on high-dpi this just causes the border to get a bit fatter
}

section h1 {
    position: relative; // to set position box for note
}

em {
    font-weight: 400;
    font-style: normal;
}


@mixin text-on-dark-bg {
    color: $text-lightest;
    a { border-bottom-color: $text-lightest }
}

@mixin text-on-light-bg {
    color: $text-darkest;
    a { border-bottom-color: $text-darkest }
}

@mixin text-colored {
    color: $text-hue;
    a { border-bottom-color: $text-hue }
}