$font-stack: "Exo 2", sans-serif;

$color-primary: #FF5544;
$color-secondary: #44CC44;

$text-lightest: #FFFFFF;
$text-dark: #AAA;
$text-darkest: #333333;
$text-hue: $color-primary;

$baseline-px: 16;

$first-break: 704px;
$second-break: 500px;
$third-break: 377px;
$nav-break: 590px;