.full-header {
    position: relative;
}

.full-header::before {
    background-image: -o-linear-gradient(-87deg, #863F89 0%, #3C1A64 100%);
    background-image: -moz-linear-gradient(-87deg, #863F89 0%, #3C1A64 100%);
    background-image: -ms-linear-gradient(-87deg, #863F89 0%, #3C1A64 100%);
    background-image: linear-gradient(-177deg, #863F89 0%, #3C1A64 100%);
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
}

.full-header::after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    opacity: 0.02;
    background-image: url('../img/stocks-background.svg');
    background-position: top center;
    background-size: 300px;
}

.title {
    font-family: "Fira Sans";
    line-height: 1.1;
    font-size: 72px;
    font-weight: normal;
    color: white;
    margin-bottom: 32px;
}

.subtitle {
    font-family: "Merriweather";
    font-size: 32px;
    font-weight: 300;
    color: white;
    padding: 0 160px;
}

.subtitle strong {
    font-weight: 700;
}

.logo-group {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

nav {
    font-family: "Fira Sans";
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100%;  
}

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li a {
    display: block;
    padding: 3px 10px 3px 0;
    font-size: 30px;
    position: relative;
    transition: 0.25s all;
}

nav li a:hover, nav li a:focus {
    outline: none;
    color: white;
}

nav a {
    color: #E2B4E4;
    text-decoration: none;
}

.nav-label {
    vertical-align: middle;
    margin-left: 25px;
    font-size: 20px;
    font-weight: 200;
}

@media (min-width: 601px) {
    nav {
        padding-top: 40px;  
    }

    nav li a {
        right: -100px;
    }

    nav li a:hover, nav li a:focus {
        right: 0;
    }

    .nav-action {
        display: none;
    }
}

@media (max-width: 600px) {
    .subtitle {
        font-size: 24px;
        padding: 0;
    }

    nav {
        /*padding: 10px;*/
        overflow: hidden;
    }

    nav ul {
        clear: both;
        padding: 10px 0;
    }

    nav li {
        -webkit-transform: translate(225px);
        background-color: #222;
        opacity: 0.95;
        padding: 5px 25px;
    }

    nav li:first-child {
        padding-top: 20px;
    }

    nav li:last-child {
        padding-bottom: 15px;
    }

    nav li:nth-child(1) {
        transition: 0.2s all;
    }

    nav li:nth-child(2) {
        transition: 0.25s all;
    }

    nav li:nth-child(3) {
        transition: 0.3s all;
    }

    nav li:nth-child(4) {
        transition: 0.35s all;
    }

    nav li:nth-child(5) {
        transition: 0.4s all;
    }

    nav li:nth-child(6) {
        transition: 0.45s all;
    }

    nav li:nth-child(7) {
        transition: 0.5s all;
    }

    .nav-action {
        float: right;
        padding-right: 20px;
        margin-top: 10px;
    }

    .nav-open {
        display: block;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .nav-close {
        display: none;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    nav:target {
        padding-left: 20px;
        overflow: visible;
    }

    nav:target li {
        -webkit-transform: translate(0);
    }

    nav:target .nav-open {
        display: none;
    }

    nav:target .nav-close {
        display: block;
    }

}