<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:200,400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1>Portfolio</h1>
        <h2>This is what I've made.</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    {{ content }}

    {% include _fixed-nav.html %}
        {% include _ga.html %}
</body>
</html>